.scheduler {
  margin: auto;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px #888888;
}
.time-slot-display {
  width: 145px;
  height: 20px;
  margin: 5px;
  padding: 10px;
  border: 2px solid aqua;
  display: flex;
  justify-content: center;
}
.time-slot-card {
  display: inline-block;
  margin: auto;
}
.round-dot {
  border-radius: 50%;
  height: 5px;
  width: 5px;
  background-color: aqua;
  display: inline-block;
}
.date-heading {
}

.no-TimeSlot {
  color: red;
}
